<div class="card">
  <div class="card-img-top"> 
         <h2 class="card-title">Name: {{name}}</h2> 
         <p class="card-text">Capital: {{capital}}</p>
         <p class="card-text">Population: {{population}}</p>
           <ul class="list-group"></ul>
    {{#each language}}
      <li class="list-group-item">{{language}}</li>
    {{/each}}
    </ul> 
     <div class="card-body">
    <img src="{{flag}}" alt="{{name}}">
    </div>
  </div>
</div>